In [5]:
#Import all relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
from ydata_profiling import ProfileReport
import sweetviz as sv

## This statement allows the visuals to render within your Jupyter Notebook.
%matplotlib inline

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [ ]:
#RiyadhVillasAqar.csv
#Riyadh_Aqqar.xlsx
#realEstate.csv

In [ ]:
#Read in the csv file and convert to a Pandas dataframe

In [ ]:
realEstate=pd.read_csv(r"C:\Users\Eknjz\Desktop\DATA SCIENCE AND MACHINE LEARNING\week3_project\Usecase-6-Project-3\realEstate.csv")
profile=ProfileReport(realEstate,title='RIYADH AQAR') # use the y data library
profile.to_notebook_iframe()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
#Read in the xlsx file and convert to a Pandas dataframe

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

#### **First data source: realEstate.csv**

In [11]:
realEstate.shape

(6762, 30)

#### **Second data source: RiyadhVillasAqar.csv**

(46826, 26)

#### **Third data source: Riyadh_Aqqar.xlsx**

(1090, 20)

(551, 15)

## 1. Data Profiling:
Data profiling is a comprehensive process of examining the data available in an existing dataset and collecting statistics and information about that data.

The process of profiling differs slightly for categorical and numerical variables due to their inherent differences.

**The two main types of data are:**
- Quantitative (numerical) data
- Qualitative (categorical) data

#### **First data source: realEstate.csv**

In [ ]:
realEstate.head(5)

In [ ]:
realEstate.shape

#### **Second data source: RiyadhVillasAqar.csv**

,Unnamed: 0,front,rooms,lounges,bathrooms,streetWidth,stairs,propertyAge,driverRoom,tent,...,apartments,maidRoom,elevator,furnihsed,pool,basement,neighbourhood,location,price,square price
0,0,شرقية,5,4,5+,20.0,1,0,1,1,...,0,0,0,0,0,0,عكاظ,جنوب الرياض,1050000.0,3500.0

#### **Third data source: Riyadh_Aqqar.xlsx**

,نوع العقار,الغرض,المدينة,الحي,الواجهة,المساحة,سعر المتر,السعر الإجمالي
0,أرض,NaN,امارة منطقة الرياض,الرياض,غربية,375,2900.0,1087500

,نوع العقار,المدينة,الحي,الواجهة,عدد الغرف,عدد الصالات,عدد الحمامات,عرض الشارع,المساحة,درج صالة,مطبخ,غرفة خادمة,غرفة سائق,ملحق,حوش,مسبح,قبو,مدخل سيارة,مصعد,السعر الاجمالي
0,فيلا,الرياض,حي العارض,جنوبية,6,3,5+,NaN,244.0,1,1,1,1,0,1,0,0,1,1,2300000

,نوع العقار,المدينة,الحي,الواجهة,عدد الغرف,عدد الصالات,عدد الحمامات,المساحة,مطبخ,مدخل سيارة,مصعد,الدور,عمر العقار,مؤثثة,السعر الاجمالي
0,شقة,الرياض,حي المروج,جنوبية,4,1.0,3,249,1,0,1,3,0.0,0,1434000

### Data Quality Checks
Data quality checks involve the process of ensuring that the data is accurate, complete, consistent, relevant, and reliable.


**Here are typical steps involved in checking data quality:**

#### 1. Reliability:
Evaluate the data's source and collection process to determine its trustworthiness.

In [ ]:
#THE source not sure reliabilty because it is unknown in kaggle

#### 2. Timeliness:
Ensure the data is up-to-date and reflective of the current situation or the period of interest for the analysis.

In [ ]:
#it is up to date

#### 3. Consistency:

Confirm that the data is consistent within the dataset and across multiple data sources. For example, the same data point should not have different values in different places.

In [ ]:
#no need to satisfy consistency because no need to merge the multible source

#### 4. Relevance:
Assess whether the data is appropriate and applicable for the intended analysis. Data that is not relevant can skew results and lead to incorrect conclusions.

**Key considerations for relevance include:**

> 1. Sample Appropriateness: Confirm that your data sample aligns with your analysis objectives. For instance, utilizing data from the Northern region will not yield accurate insights for the Western region of the Kingdom.
>
> 2. Variable Selection: Any column will not be relevant for our analysis, we can get rid of these using the drop() method. We will set the “axis” argument to 1 since we’re dealing with columns, and set the “inplace” argument to True to make the change permanent.

In [ ]:
#the data set relevent to the objective 
# i need to drop some columns which not revelent to my objective
realEstate2=realEstate.drop(columns=['user_id','id','imgs','refresh','content','last_update','width','length','profileImg','location','UserName','onMarket','iam_verified','advertiser_type','create_time','area'])
realEstate2

#### 5. Uniqueness:
Check for and remove duplicate records to prevent skewed analysis results.

In [ ]:
realEstate2[realEstate2.duplicated()]

In [ ]:
# no need to delete duplicates  because there is not duplicated rows

#### 6. Completeness:
Ensure that no critical data is missing. This might mean checking for null values or required fields that are empty.

We will start by checking the dataset for missing or null values. For this, we can use the isna() method which returns a dataframe of boolean values indicating if a field is null or not. To group all missing values by column, we can include the sum() method.

In [ ]:
#Display number missing values per column
realEstate2.isnull().sum()

In [23]:
realEstate2['livings'].fillna(0,inplace=True) #fill all the missing value with 0
realEstate2['age'].fillna(0,inplace=True)
realEstate2['ketchen'].fillna(0,inplace=True)
realEstate2['review'].fillna(0,inplace=True)
realEstate2['furnished'].fillna(0,inplace=True)
realEstate2['ac'].fillna(0,inplace=True)
realEstate2['street_width'].fillna(0,inplace=True)

C:\Users\Eknjz\AppData\Local\Temp\ipykernel_28004\2935098502.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  realEstate2['age'].fillna(0,inplace=True)
C:\Users\Eknjz\AppData\Local\Temp\ipykernel_28004\2935098502.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  realEstate2['ketchen'].fillna(0,inplace=True)
C:\Users\Eknjz\AppData\Local\Temp\ipykernel_28004\2935098502.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  realEstate2['review'].fillna(0,inplace=True)
C:\Users\Eknjz\AppData\Local\Temp\ipykernel_28004\2935098502.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  realEstate2['furnished'].fillna(0,inplace=True)
C:\Users\Eknjz\AppData\Local\Temp\ipykernel_28004\2935098502.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  realEstate2['ac'].fillna(0,inplace=True)
C:\Users\Eknjz\AppData\Local\Temp\ipykernel_28004\2935098502.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  realEstate2['street_width'].fillna(0,inplace=True)

In [ ]:
realEstate2.isnull().sum()
#Display number missing values per column after update

#### 7. Check Accuracy:

Verify that the data is correct and precise. This could involve comparing data samples with known sources or using validation rules.

**The process includes:**
1. Validating the appropriateness of data types for the dataset.
2. Identifying outliers  using established validation  rule

In [ ]:
# check columns types
realEstate2.info()

In [ ]:
# correct the dtype for the columns
realEstate2['livings']=realEstate2['livings'].astype(int)
realEstate2['age']=realEstate2['age'].astype(int)
realEstate2['ketchen']=realEstate2['ketchen'].astype(int)
realEstate2['ac']=realEstate2['ac'].astype(bool)
realEstate2['furnished']=realEstate2['furnished'].astype(bool)

In [28]:
# check columns types after updates
realEstate2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6762 entries, 0 to 6761
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         6762 non-null   object
 1   price         6762 non-null   int64
 2   beds          6762 non-null   int64
 3   livings       6762 non-null   int32
 4   wc            6762 non-null   int64
 5   street_width  6762 non-null   float64
 6   age           6762 non-null   int32
 7   ketchen       6762 non-null   int32
 8   ac            6762 non-null   bool
 9   furnished     6762 non-null   bool
 10  path          6762 non-null   object
 11  district      6762 non-null   object
 12  review        6762 non-null   float64
 13  IsRent        6762 non-null   bool
dtypes: bool(3), float64(2), int32(3), int64(3), object(3)
memory usage: 521.8+ KB

In [ ]:
# check outliers
realEstate2[(realEstate2['review']<0 )& (realEstate2['review']>5)] # check outliers review col
realEstate2[(realEstate2['price']>100000)&(realEstate2['price']<12000)] # check outliers price col 'human outlier'
realEstate2['beds'].unique() # check outliers beds col 
realEstate2['district'].unique() # check outliers district col
realEstate2['age'].unique() # check outliers age col
realEstate2['wc'].unique() # check outliers wc col 
realEstate2['ketchen'].unique() # check outliers kitchen col

In [ ]:
realEstate2.drop(realEstate2['review']<0 ,inplace=True)
realEstate2.drop(realEstate2['review']<0  ,inplace=True)
realEstate2.drop(realEstate2['price']>100000,inplace=True) # drop outliers price col 'human outlier'
realEstate2.drop(realEstate2['price']<12000,inplace=True)

In [ ]:
realEstate2['title']='شقة' # change the contenent of title

In [ ]:
realEstate2.rename(columns={'path': 'region'},inplace=True) # change the column name
realEstate2.rename(columns={'ketchen': 'kitchen'},inplace=True) # change the column name

In [32]:
realEstate2_east=realEstate2[realEstate2['region'].str.contains('شرق')] # change the region content
realEstate2_east['region']='شرق الرياض'
realEstate2_west=realEstate2[realEstate2['region'].str.contains('غرب')]# change the region content
realEstate2_west['region']='غرب الرياض'
realEstate2_north=realEstate2[realEstate2['region'].str.contains('شمال')]# change the region content
realEstate2_north['region']='شمال الرياض'
realEstate2_south=realEstate2[realEstate2['region'].str.contains('جنوب')]# change the region content
realEstate2_south['region']='جنوب الرياض'
realEstate3=pd.concat([realEstate2_east,realEstate2_west,realEstate2_north,realEstate2_south],ignore_index=True) # conact the 4 dataframe

C:\Users\Eknjz\AppData\Local\Temp\ipykernel_28004\4061696563.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  realEstate2_east['region']='شرق الرياض'
C:\Users\Eknjz\AppData\Local\Temp\ipykernel_28004\4061696563.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  realEstate2_west['region']='غرب الرياض'
C:\Users\Eknjz\AppData\Local\Temp\ipykernel_28004\4061696563.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  realEstate2_north['region']='شمال الرياض'
C:\Users\Eknjz\AppData\Local\Temp\ipykernel_28004\4061696563.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  realEstate2_south['region']='جنوب الرياض'

In [ ]:
realEstate3

In [ ]:

profile=ProfileReport(realEstate3 ,title='RIYADH AQAR') # use the y data library
profile.to_notebook_iframe()
# check after the update in ydata

**What is an Outlier?**
Outlier is an row/observation that appears far away and diverges from an overall pattern in a sample.

**What are the types of Outliers?**
1. Univariate: These outliers can be found when we look at distribution of a single variable
2. Multivariate: are outliers in an n-dimensional space. In order to find them, you have to look at distributions in multi-dimensions. example (hight=100, weight=100) for a person

**What causes Outliers?**
Whenever we come across outliers, the ideal way to tackle them is to find out the reason of having these outliers. The method to deal with them would then depend on the reason of their occurrence.

Let’s understand various types of outliers:

1. Data Entry Errors:- Human errors such as errors caused during data collection, recording, or entry can cause outliers in data.
2. Measurement Error: It is the most common source of outliers. This is caused when the measurement instrument used turns out to be faulty.
3. Data Processing Error: Whenever we perform data mining, we extract data from multiple sources. It is possible that some manipulation or extraction errors may lead to outliers in the dataset.
4. Sampling error: For instance, we have to measure the height of athletes. By mistake, we include a few basketball players in the sample. This inclusion is likely to cause outliers in the dataset.
5. Natural Outlier: When an outlier is not artificial (due to error), it is a natural outlier. For instance: In my last assignment with one of the renowned insurance company, I noticed that the performance of top 50 financial advisors was far higher than rest of the population. Surprisingly, it was not due to any error. Hence, whenever we perform any data mining activity with advisors, we used to treat this segment separately.


**What is the impact of Outliers on a dataset?**


![image.png](https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Outlier_31.png)



**How to detect Outliers?**

1. Most commonly used method to detect outliers is visualization (Univariate Graphical Analysis).

We use 3 common visualization methods:
>- Box-plot: A box plot is a method for graphically depicting groups of numerical data through their quartiles. The box extends from the Q1 to Q3 quartile values of the data, with a line at the median (Q2). The whiskers extend from the edges of the box to show the range of the data. Outlier points are those past the end of the whiskers. Box plots show robust measures of location and spread as well as providing information about symmetry and outliers.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:698/format:webp/1*VK5iHA2AB28HSZwWwUbNYg.png)
>
>
>- Histogram
>- Scatter Plot: A scatter plot is a mathematical diagram using Cartesian coordinates to display values for two variables for a set of data. The data are displayed as a collection of points, each having the value of one variable determining the position on the horizontal axis and the value of the other variable determining the position on the vertical axis. The points that are far from the population can be termed as an outlier.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:4800/format:webp/1*Ov6aH-8yIwNoUxtMFwgx4g.png)
>
>

2. Using statistical method (Univariate Non-Graphical analysis):
>- Any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR

![image.png](https://www.whatissixsigma.net/wp-content/uploads/2015/07/Box-Plot-Diagram-to-identify-Outliers-figure-1.png)

>- Use capping methods. Any value which out of range of 5th and 95th percentile can be considered as outlier
>- Data points, three or more standard deviation away from mean are considered outlier: The Z-score is the signed number of standard deviations by which the value of an observation or data point is above the mean value of what is being observed or measured. While calculating the Z-score we re-scale and center the data and look for data points that are too far from zero. These data points which are way too far from zero will be treated as the outliers. In most of the cases, a threshold of 3 or -3 is used i.e if the Z-score value is greater than or less than 3 or -3 respectively, that data point will be identified as outliers.
> - Outlier detection is merely a special case of the examination of data for influential data points and it also depends on the business understanding

In [ ]:
# go to univariate graphical analysis
# go to lesson : data visualisation 1 - chart type section
# then go to univariate graphical analysis
# detect outliers using graphs varbaly
my_report = sv.analyze(realEstate3) # use the sweetviz library to show some graphs.
my_report.show_html() # Default arguments will generate to "SWEETVIZ_REPORT.html")

In [ ]:
# go to lesson: statistics 1 then statistics 3
# then go to univariate Non graphical analysis
# detect outliers using numerical statistics

In [ ]:
# go to delete ouliers

## 2. Data Cleaning:

Preliminary findings from data profiling can lead to cleaning the data by:
- Handling missing values
- Correcting errors.
- Dealing with outliers.

-------------------

### Handling missing values:

**Why my data has missing values?**
They may occur at two stages:
1. Data Extraction: It is possible that there are problems with extraction process. Errors at data extraction stage are typically easy to find and can be corrected easily as well.
2. Data collection: These errors occur at time of data collection and are harder to correct.

**Why do we need to handle the missing data?**
To avoid:
- Bias the conclusions.
- Leading the business to make wrong decisions.

**Which are the methods to treat missing values ?**
1. Deletion: we delete rows where any of the variable is missing. Simplicity is one of the major advantage of this method, but this method reduces the power of model because it reduces the sample size.

2. Imputation: is a method to fill in the missing values with estimated ones. This imputation is one of the most frequently used methods.

    2.1. Mean/ Mode/ Median Imputation: It consists of replacing the missing data for a given attribute by the mean or median (quantitative attribute) or mode (qualitative attribute) of all known values of that variable.
    > It can be of two types:
    > - Generalized Imputation: In this case, we calculate the mean or median for all non missing values of that variable then replace missing value with mean or median.
    > - Similar case Imputation: In this case, we calculate average for each group individually of non missing values then replace the missing value based on the group.

    2.2. Constant Value
   
    2.3. Forward Filling
   
    2.4. Backward Filling

6. Prediction Model:  Prediction model is one of the sophisticated method for handling missing data. Here, we create a predictive model to estimate values that will substitute the missing data.  In this case, we divide our data set into two sets: One set with no missing values for the variable and another one with missing values. First data set become training data set of the model while second data set with missing values is test data set and variable with missing values is treated as target variable. Next, we create a model to predict target variable based on other attributes of the training data set and populate missing values of test data set.

> There are 2 drawbacks for this approach:
> - The model estimated values are usually more well-behaved than the true values
> - If there are no relationships with attributes in the data set and the attribute with missing values, then the model will not be precise for estimating missing values.

9. KNN Imputation: In this method of imputation, the missing values of an attribute are imputed using the given number of attributes that are most similar to the attribute whose values are missing. The similarity of two attributes is determined using a distance function. It is also known to have certain advantage & disadvantages.

   > **Advantages:**
   > - k-nearest neighbour can predict both qualitative & quantitative attributes
   > - Creation of predictive model for each attribute with missing data is not required
   > - Attributes with multiple missing values can be easily treated
   > - Correlation structure of the data is taken into consideration

   > **Disadvantage:**
   > - KNN algorithm is very time-consuming in analyzing large database. It searches through all the dataset looking for the most similar instances.
   > - Choice of k-value is very critical. Higher value of k would include attributes which are significantly different from what we need whereas lower value of k implies missing out of significant attributes.

--------------------

In [ ]:
# go back to 6th dimention --> Completeness

### Correcting errors

-------------------

In [ ]:
# go back to 7th dimension Accuracy

### Dealing with outliers:

**How to remove Outliers?**
Most of the ways to deal with outliers are similar to the methods of missing values like deleting rows, transforming them, binning them, treat them as a separate group, imputing values and other statistical methods. Here, we will discuss the common techniques used to deal with outliers:

1. Deleting rows: We delete outlier values if it is due to data entry error, data processing error or outlier rows are very small in numbers. We can also use trimming at both ends to remove outliers.

2. Imputing: Like imputation of missing values, we can also impute outliers. We can use mean, median, mode imputation methods. Before imputing values, we should analyse if it is natural outlier or artificial. If it is artificial, we can go with imputing values. We can also use statistical model to predict values of outlier rows and after that we can impute it with predicted values.

3. Treat separately: If there are significant number of outliers, we should treat them separately in the statistical model. One of the approach is to treat both groups as two different groups and build individual model for both groups and then combine the output.

## 3. Univariate Analysis:

This involves examining single variables to understand their characteristics (distribution, central tendency, dispersion, and shape).

We calculate **numerical values** about the data that tells us about the distribution of the data. We also **draw graphs** showing visually how the data is distributed. **To answer the following questions about Features/characteristics of Data:**
- Where is the center of the data? (location)
- How much does the data vary? (scale)
- What is the shape of the data? (shape)

**The benefits of this analysis:**
Statistics summary gives a high-level idea to identify whether the data has any outliers, data entry error, distribution of data such as the data is normally distributed or left/right skewed

**In this step, we will explore variables one by one using following approaches:**

### 1. Univariate Graphical Analysis:
Method to perform uni-variate analysis will depend on whether the variable type is categorical or numerical.

#### I. Categorical Variables:

we’ll use frequency table to understand distribution of each category
- Bar Chart (Ordinal) - Orderd
- Pie Chart (Nominal) - non Orderd

#### II. Numerical Variables:

we need to understand the central tendency and spread of the variable (Descriptive Analysis) using:
   - Box plot
   - Histogram

### 2. Univariate Non-Graphical analysis:

- Where is the center of the data? (location) --> **Measures of central tendency**
- How much does the data vary? (scale) --> **Measure of variability**
- What is the shape of the data? (shape) --> **Measures of variation combined with an average (measure of center) gives a good picture of the distribution of the data.**

## 4. Bivariate/Multivariate Analysis:

Here, you look at the relationships between two or more variables. This can involve looking for correlations, patterns, and trends that suggest a relationship or an association.

We can perform bi-variate analysis for any combination of categorical and numerical variables. The combination can be:
| bi-variate variables   | Plot type |
| ------------- | ------------- |
| Categorical & Categorical| Stacked Bar Chart |
| Categorical & numerical  | scatter plot, histogram, box plot|
| numerical  & numerical  | Scatter plot, line chart|


Multivariate Analysis:
- Heat map
- Bar Chart
- Scatter Chart
- Line Chart

**Categorical & Categorical --> (Stacked Column Chart)**

**Categorical & numerical --> (scatter plot, histogram, box plot)**

**numerical & numerical --> (Scatter plot, line chart)**

We could also use a correlation matrix to get more specific information about the relationship between these two variables.

In [ ]:
import streamlit as st
import pandas as pd
import plotly.express as px

# Load your Toyota dataset
data = pd.read_csv('df_car_Toyota.csv')  # Adjust with your dataset path

# CSS
css = """
<style>
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
}

h1 {
    color: #E4002B;  /* Toyota red */
}

h2, h3 {
    color: #333;
}

.stButton button {
    background-color: #E4002B;  /* Toyota red */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.stButton button:hover {
    background-color: #B3001B;  /* Darker red on hover */
}

.plotly-graph div {
    background-color: white;  /* White background for plots */
    border-radius: 10px;  /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
    padding: 10px;  /* Padding for the plot area */
}

.markdown-text {
    margin: 20px 0;
}
</style>
"""

# Inject CSS
st.markdown(css, unsafe_allow_html=True)

st.image("toyota_logo_icon_169445.png")
# Title and Introduction
st.title("Looking for a used Toyota car?")
st.markdown("<div class='markdown-text'>I got you</div>", unsafe_allow_html=True)
st.markdown("<div class='markdown-text'>I understand the struggle of looking for a new car, so I did the heavy lifting for you.</div>", unsafe_allow_html=True)
st.markdown("<div class='markdown-text'>First of all, I wanted to show you the main top 10 cars from Toyota in the used car market. It could interest you in specific car</div>", unsafe_allow_html=True)

st.markdown("### Here are the main top 10 cars from Toyota")
# Count the occurrences of each car type
top_10_types = data['Type'].value_counts().head(10)
chart_data = pd.DataFrame({
    'Type': top_10_types.index,
    'Total': top_10_types.values
})
fig1 = px.bar(chart_data, x='Type', y='Total', title='Top 10 Toyota Car Types',
              range_y=[0, max(chart_data['Total']) + 5])
st.plotly_chart(fig1)

st.markdown("<div class='markdown-text'>However, if you have something in mind, maybe a specific car from Toyota?</div>", unsafe_allow_html=True)
st.markdown("<div class='markdown-text'>Take a look</div>", unsafe_allow_html=True)

# User Input for Car Type
car_types = data['Type'].unique()
selected_car = st.selectbox('What Type of car are you interested in?', car_types)

# Filter based on the selected car type
filtered_data = data[data['Type'] == selected_car]

# Display price ranges for the selected car type
st.markdown("### Of course, you want it to be in your budget, so obviously I got your back here too. "
            "Check out the ranges of prices for a used Toyota car.")

# Creating bins for price ranges
price_bins = pd.cut(filtered_data['Price'], bins=10)  # Adjust bins as needed
price_range_counts = price_bins.value_counts().sort_index()

price_data = pd.DataFrame({
    'Price Range': price_range_counts.index.astype(str),
    'Count': price_range_counts.values
})

# Visualize price ranges with Plotly (line chart)
fig2 = px.line(price_data, x='Price Range', y='Count', title='Check out the Price Range for Your Selected Car',
                markers=True)  # Markers added for visibility
fig2.update_traces(line=dict(width=2, color='blue'))  # Adjust line width and color

# Update layout for better appearance
fig2.update_layout(yaxis_title='Count', xaxis_title='Price Range',
                   xaxis_tickangle=-45,  # Rotate x-axis labels for better visibility
                   transition_duration=500)  # Set the duration of the transition

st.plotly_chart(fig2)

# Display regions where the selected car type is available
st.markdown("### Once you've figured out if it's in your budget, are you wondering where to get it from?")

# Count the occurrences of each region
region_counts = filtered_data['Region'].value_counts()
region_data = pd.DataFrame({
    'Region': region_counts.index,
    'Count': region_counts.values
})

# Visualize regions with Plotly (pie chart)
fig3 = px.pie(region_data, names='Region', values='Count', title='Regions Where Your Car is Available In',
               hole=0.3)  # Use a donut chart style for a nice effect
fig3.update_traces(pull=[0.05] * len(region_data),  # Small separation for each slice
                   textinfo='percent+label',  # Show percentage and label
                   marker=dict(line=dict(color='#FFFFFF', width=2)))  # Add white border for contrast
st.plotly_chart(fig3)